
extends layout

block content
	div(class='container', id='controlArea')
		div(class='col-sm-6')
			h5 You
			div(id='myTasksList')
				for task in myTasks
					label(class='mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect')
						input(type='checkbox' class='mdl-checkbox__input')
						span(class='mdl-checkbox__label')=task
			form(action='#', id='addTaskForm')
				div(class='form-control-wrapper')
					input(class='form-control empty', type='text', id='taskName')
					div(class='floating-label') New task...
					span(class='material-input')
		div(class='col-sm-6')
			h5 Friend
			ul
				for task in friendTasks
					li=task
	div=author