
extends layout

block content

	div(class='mdl-spinner mdl-js-spinner is-active', id='spinnerCallFriend')
	div(class='container')
		div(class='row')
			div(class='col-xs-6 col-md-4')
			div(class='col-xs-6 col-md-4 text-center')
				h3 Call your friend
				span Give the following url to your friend to start working:
				div(class='startForm')
					for(action='#')
						input(class='form-control form-control-success', type='text', id='url', value=url, readonly='readonly')
						br
						button(class='btn btn-primary', id='startButton') Start!
			div(class='col-xs-6 col-md-4')
					//- i(class='material-icons') content_copy
			//- div(class='mdl-card__actions')
				a(class='mdl-button', href='#') Call
	

