
html(class='mdl-js')
	include header
	body(class='mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base')
		div(class='mdl-layout__container has-fixed-header')
		div(class='mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs is-upgraded')
			header(class='mdl-layout__header mdl-layout__header--scroll mdl-color--primary')
				div(class='mdl-layout mdl-layout__header-row')
				div(class='mdl-layout mdl-layout__header-row')
					h2=title
				div(class='mdl-layout mdl-layout__header-row')
					h4=description
				div(class='mdl-layout mdl-layout__header-row')
			main(class='mdl-layout__content')
				block content
	include footer